<link rel="stylesheet" href="app/components/escort_all/escort_all.css">
<img id="button1" src="app/img/button1.png" alt=""/>
<!--<img id="button2" src="app/img/button2.png" alt=""/>-->
<img id="button3" src="app/img/button3.png" alt=""/>

<div class="escort row">

  <div class="col-sm-3 left-lf">
    <div style="width:100%;height: 50%;border: 1px solid #FEC3FE"></div>
    <div style="width:100%;height: 50%;border: 1px solid #FEC3FE"></div>
  </div>


  <div class="col-sm-5 mid-left">
    <div style="width:100%;height: 32%;border: 1px solid #FEC3FE;">
      <div class="col-sm-4" style="height: 100%;border: 1px solid #67EE39"></div>
      <div class="col-sm-8" style="height: 100%;border: 1px solid #67EE39"></div>
    </div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width:100%;height: 32%;border: 1px solid #FEC3FE">
      <div class="col-sm-4" style="height: 100%;border: 1px solid #67EE39"></div>
      <div class="col-sm-8" style="height: 100%;border: 1px solid #67EE39"></div>
    </div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width:100%;height: 34%;border: 1px solid #FEC3FE">
      <div class="col-sm-4" style="height: 100%;border: 1px solid #67EE39"></div>
      <div class="col-sm-8" style="height: 100%;border: 1px solid #67EE39"></div>
    </div>
  </div>

  <div class="col-sm-2 right-right" style="margin-right: 1%;">
    <div style="width:100%;height: 32%;border: 1px solid #FEC3FE"></div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width:100%;height: 33%;border: 1px solid #FEC3FE"></div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width:100%;height: 33%;border: 1px solid #FEC3FE"></div>
  </div>


  <div class="col-sm-2 right-right">
    <div style="width:100%;height: 32%;border: 1px solid #FEC3FE"></div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width:100%;height: 33%;border: 1px solid #FEC3FE"></div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width:100%;height: 33%;border: 1px solid #FEC3FE"></div>
  </div>

</div>










<script src="app/components/escort_all/escort_all.js"></script>
