<link rel="stylesheet" href="app/components/work_remind/work_remind.css"/>



<div id="remind" class="row">

  <div class="col-sm-12 row top-six">
    <div class="col-sm-2">
      <p>巡控岗位</p>
      <div style="width: 100%;height: 100%" id="ts-1"></div>
    </div>
    <div class="col-sm-2">
      <p>医务岗位</p>
      <div style="width: 100%;height: 100%" id="ts-2"></div>
    </div>
    <div class="col-sm-2 activd-top">
      <p>管教岗位</p>
      <div style="width: 100%;height: 100%" id="ts-3"></div>
    </div>
    <div class="col-sm-2">
      <p>接待岗位</p>
      <div style="width: 100%;height: 100%" id="ts-4"></div>
    </div>
    <div class="col-sm-2">
      <p>后勤岗位</p>
      <div style="width: 100%;height: 100%" id="ts-5"></div>
    </div>
    <div class="col-sm-2">
      <p>所领导</p>
      <div style="width: 100%;height: 100%" id="ts-6"></div>
    </div>
  </div>

  <div class="col-sm-12" style="height: 3%"></div>

  <div class="col-sm-12">
    <div class="bottom-left"style="text-align: center">




      <div style="display: none">
        <p class="p-dw">工作提醒(巡控)</p>
        <p class="span-w">
          <span class="activd_1">巡更次数</span>
          <span>违规次数</span>
          <span>动态跟踪</span>
        </p>
        <div class="wc">
          <div>
            <p>已完成</p>
            <p>243</p>
          </div>
          <div>
            <p>未完成</p>
            <p>178</p>
          </div>
        </div>
        <div class="bottom-hd">
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>巡更提醒</li>
              <li>罪犯姓名：大牙</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>巡更提醒</li>
              <li>罪犯姓名：大牙</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>巡更提醒</li>
              <li>罪犯姓名：大牙</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
        </div>
      </div>
      <div style="display: none">
        <p class="p-dw">工作提醒(医务)</p>
        <p class="span-w">
          <span>巡更次数</span>
          <span>违规次数</span>
          <span class="activd_1">动态跟踪</span>
        </p>
        <div class="wc">
          <div>
            <p>已完成</p>
            <p>56</p>
          </div>
          <div>
            <p>未完成</p>
            <p>71</p>
          </div>
        </div>
        <div class="bottom-hd">
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>动态提醒</li>
              <li>罪犯姓名：龙儿</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>动态提醒</li>
              <li>罪犯姓名：龙儿</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>动态提醒</li>
              <li>罪犯姓名：龙儿</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
        </div>
      </div>





      <div>
        <p class="p-dw">工作提醒(管教)</p>
        <p class="span-w">
          <span>两下监房</span>
          <span class="activd_1">谈话情况</span>
          <span>违规处理</span>
        </p>
        <div class="wc">
          <div>
            <p>已完成</p>
            <p>25</p>
          </div>
          <div>
            <p>未完成</p>
            <p>45</p>
          </div>
        </div>
        <div class="bottom-hd">
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>谈话提醒</li>
              <li>罪犯姓名：王二麻子</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>谈话提醒</li>
              <li>罪犯姓名：王二麻子</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>谈话提醒</li>
              <li>罪犯姓名：王二麻子</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
        </div>
      </div>





      <div style="display: none">
        <p class="p-dw">工作提醒(接待)</p>
        <p class="span-w">
          <span class="activd_1">巡更次数</span>
          <span>违规次数</span>
          <span>动态跟踪</span>
        </p>
        <div class="wc">
          <div>
            <p>已完成</p>
            <p>147</p>
          </div>
          <div>
            <p>未完成</p>
            <p>267</p>
          </div>
        </div>
        <div class="bottom-hd">
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>巡更提醒</li>
              <li>罪犯姓名：赵四</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>巡更提醒</li>
              <li>罪犯姓名：赵四</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>巡更提醒</li>
              <li>罪犯姓名：赵四</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
        </div>
      </div>
      <div style="display: none">
        <p class="p-dw">工作提醒(后勤)</p>
        <p class="span-w">
          <span>巡更次数</span>
          <span>违规次数</span>
          <span class="activd_1">动态跟踪</span>
        </p>
        <div class="wc">
          <div>
            <p>已完成</p>
            <p>55</p>
          </div>
          <div>
            <p>未完成</p>
            <p>145</p>
          </div>
        </div>
        <div class="bottom-hd">
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>动态提醒</li>
              <li>罪犯姓名：张三</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>动态提醒</li>
              <li>罪犯姓名：张三</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
          <div>
            <p>8.23-8.24</p>
            <ul>
              <li>动态提醒</li>
              <li>罪犯姓名：张三</li>
              <li>犯号：331265</li>
              <li>新入所24小时未谈话</li>
            </ul>
          </div>
        </div>
      </div>



    </div>
    <div class="bottom-right" style="position:relative;">
      <div>
        <table class="table" id="table">
          <thead>
            <tr>
              <td>序号</td>
              <td>开始时间</td>
              <td>结束时间</td>
              <td>谈话类型</td>
              <td>犯人姓名</td>
              <td>犯号</td>
              <td>民警姓名</td>
              <td>警号</td>
              <td>相关视频</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>①</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>②</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>③</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>④</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>⑤</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>⑥</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>⑦</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>⑧</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
            <tr>
              <td>⑨</td>
              <td>9:00</td>
              <td>9:30</td>
              <td>新入所人员</td>
              <td>王二</td>
              <td>0012</td>
              <td>张三</td>
              <td>警号</td>
              <td><span>相关视频</span></td>
            </tr>
          </tbody>
        </table>
        <table class="table" id="tables" style="display: none">
          <thead>
          <tr>
            <td>序号</td>
            <td>开始时间</td>
            <td>结束时间</td>
            <td>民警姓名</td>
            <td>巡逻区域</td>
            <td>相关视频</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>①</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>一</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>②</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>二</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>③</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>三</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>④</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>四</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>⑤</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>五</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>⑥</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>六</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>⑦</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>七</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>⑧</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>八</td>
            <td><span>相关视频</span></td>
          </tr>
          <tr>
            <td>⑨</td>
            <td>9:00</td>
            <td>9:30</td>
            <td>张三</td>
            <td>九</td>
            <td><span>相关视频</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>




<script src="app/components/work_remind/work_remind.js"></script>
