<link rel="stylesheet" href="app/components/prisoner_risk/prisoner_risk.css">



<div class="prisoner_risk row col-xs-12">
  <div style="height:100%;overflow: hidden" class="part_1 col-xs-6">
    <div class="toggle_1" style="height: 90%;" class="row col-xs-12">
      <span>违规类型</span>
      <span class="glyphicon glyphicon-chevron-down"></span>
      <div style="width:50%;height:50%;" id="center_echarts"></div>
      <div class="mid-midbt">
        <div id="mid-midbt-1">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>打骂欺凌他人</p>
        </div>
        <div id="mid-midbt-2">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>破坏监内设施</p>
        </div>
        <div id="mid-midbt-3">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>私藏凶器</p>
        </div>
        <div id="mid-midbt-4">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>吸烟</p>
        </div>
        <div id="mid-midbt-5">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>传递信息</p>
        </div>
        <div id="mid-midbt-6">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>物品摆放凌乱</p>
        </div>
        <div id="mid-midbt-7">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>打架</p>
        </div>
        <div id="mid-midbt-8">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>单人值班</p>
        </div>
        <div id="mid-midbt-9">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>私藏打火机</p>
        </div>
        <div id="mid-midbt-10">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>值班睡觉</p>
        </div>
      </div>
    </div>
    <div class="toggle_2" style="height: 90%;border-top:1px solid #fff;" class="row col-xs-12">
      <span>连续违规</span>
      <span class="glyphicon glyphicon-chevron-up"></span>
      <div style="width:100%;height:50%;" id="center_echarts_2"></div>
      <div class="mid-midbt_2">
        <div id="mid-midbt_2-1">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>打骂欺凌他人</p>
        </div>
        <div id="mid-midbt_2-2">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>破坏监内设施</p>
        </div>
        <div id="mid-midbt_2-3">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>私藏凶器</p>
        </div>
        <div id="mid-midbt_2-4">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>吸烟</p>
        </div>
        <div id="mid-midbt_2-5">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>传递信息</p>
        </div>
        <div id="mid-midbt_2-6">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>物品摆放凌乱</p>
        </div>
        <div id="mid-midbt_2-7">
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>打架</p>
        </div>
        <div id="mid-midbt_2-8">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>单人值班</p>
        </div>
        <div id="mid-midbt_2-9">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>私藏打火机</p>
        </div>
        <div id="mid-midbt_2-10">
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p>
            <span class="risk_1" style="background-color: #FF66FF"></span>
          </p>
          <p>值班睡觉</p>
        </div>
      </div>
    </div>
  </div>




  <div style="height:100%" class="part_2 col-xs-6">
    <div class="right_top">风险趋势</div>
    <div style="width:100%;height:100%" id="right_top"></div>
    <div id="right_bottom" style="background:transparent" class="table-responsive">
      <div class="right_bottom">风险扣分详情</div>
      <table class="table" style="text-align: center;width:90%;    margin: 10px auto 0px;">
        <thead>
          <tr>
            <td style="text-align: center;background:transparent;color:#fff">扣分时间</td>
            <td style="text-align: center;background:transparent;color:#fff">风险项</td>
            <td style="text-align: center;background:transparent;color:#fff">扣分值</td>
            <td style="text-align: center;background:transparent;color:#fff">具体数据(次)</td>
            <td style="text-align: center;background:transparent;color:#fff">指标区间(次)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="background:transparent;font-size:1.5rem;color:#fff">2017/10/16</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff">打骂欺凌他人</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff">5一</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff">10</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff">10-15</td>
          </tr>
          <tr>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">2017/10/16</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">吸烟</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">2</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">5</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">5-10</td>
          </tr>
          <tr>
            <td style="background:transparent;color:#fff;font-size:1.5rem">2017/10/16</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem">内容一</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem">王小二</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem">结果一</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">6-10</td>
          </tr>
          <tr>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">2017/10/16</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">传递信息</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">2</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">6</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff">1-10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="app/components/prisoner_risk/prisoner_risk.js"></script>
