<link rel="stylesheet" href="app/components/prisoner_risk/prisoner_risk.css">
<div class="prisoner_risk row col-xs-12">
  <div style="height:100%;overflow: hidden" class="part_1 col-xs-6">
    <div class="toggle_1" style="height: 90%;" class="row col-xs-12">
      <span>违规类型</span>
      <span class="glyphicon glyphicon-chevron-down"></span>
      <div style="width:50%;height:50%;" id="center_echarts"></div>
      <div class="mid-midbt">
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
      </div>
    </div>
    <div class="toggle_2" style="height: 90%;border-top:1px solid #fff;" class="row col-xs-12">
      <span>连续违规</span>
      <span class="glyphicon glyphicon-chevron-up"></span>
      <div style="width:100%;height:50%;" id="center_echarts_2"></div>
      <div class="mid-midbt_2">
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <p><span style="background-color: #FF66FF"></span></p>
          <p>风险名称</p>
        </div>
      </div>
    </div>
  </div>




  <div style="height:100%" class="part_2 col-xs-6">
    <div class="right_top">XX风险趋势</div>
    <div style="width:100%;height:100%" id="right_top"></div>
    <div id="right_bottom" style="background:transparent" class="table-responsive">
      <div class="right_bottom">XX风险扣分详情</div>
      <table class="table" style="text-align: center;width:90%;margin:5% auto 0;">
        <thead>
          <tr>
            <td style="text-align: center;font-size:2.3rem;background:transparent;color:#fff" class="active">扣分时间</td>
            <td style="text-align: center;font-size:2.3rem;background:transparent;color:#fff" class="active">扣分值</td>
            <td style="text-align: center;font-size:2.3rem;background:transparent;color:#fff" class="active">具体数据</td>
            <td style="text-align: center;font-size:2.3rem;background:transparent;color:#fff" class="active">指标区间</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="background:transparent;font-size:1.5rem;color:#fff" class="active">2017/10/16</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff" class="active">内容一</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff" class="active">王小二</td>
            <td style="background:transparent;font-size:1.5rem;color:#fff" class="active">结果一</td>
          </tr>
          <tr>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">2017/10/16</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">内容一</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">王小二</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">结果一</td>
          </tr>
          <tr>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">2017/10/16</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">内容一</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">王小二</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">结果一</td>
          </tr>
          <tr>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">2017/10/16</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">内容一</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">王小二</td>
            <td style="background:rgba(11, 32, 64, 0.72);font-size:1.5rem;color:#fff" class="active">结果一</td>
          </tr>
          <tr>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">2017/10/16</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">内容一</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">王小二</td>
            <td style="background:transparent;color:#fff;font-size:1.5rem" class="active">结果一</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="app/components/prisoner_risk/prisoner_risk.js"></script>
