<link rel="stylesheet" href="app/components/post_risk/post_risk.css"/>

<div id="post_risk" class="row">

  <div class="col-sm-6 row" id="left">
    <div class="col-sm-5">
      <div class="each each_1">
        <div>
          <div>巡控岗</div>
        </div>
        <div></div>
      </div>
      <div class="each each_2">
        <div>
          <div>巡控岗</div>
        </div>
        <div></div>
      </div>
      <div class="each each_3">
        <div>
          <div>巡控岗</div>
        </div>
        <div></div>
      </div>
      <div class="each each_4">
        <div>
          <div>巡控岗</div>
        </div>
        <div></div>
      </div>
      <div class="each each_5">
        <div>
          <div>巡控岗</div>
        </div>
        <div></div>
      </div>
      <div class="each each_6 each-last">
        <div>
          <div>巡控岗</div>
        </div>
        <div></div>
      </div>
    </div>
    <div class="col-sm-7">
      <div >
        <div id="mid-ts" style="width: 100%;height: 100%"></div>
      </div>
      <div>
        <div class="mid-midbt">
          <div>
            <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
            <p style="color: #FF66FF">44</p>
            <p><span style="background-color: #FF66FF"></span></p>
            <p>风险名称</p>
          </div>
          <div>
            <p><span style="background: url(app/img/11_03.png);"></span>8%</p>
            <p style="color: #FF66FF">44</p>
            <p><span style="background-color: #FF66FF"></span></p>
            <p>风险名称</p>
          </div>
          <div>
            <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
            <p style="color: #FF66FF">44</p>
            <p><span style="background-color: #FF66FF"></span></p>
            <p>风险名称</p>
          </div>
          <div>
            <p><span style="background: url(app/img/12_03.png);"></span>8%</p>
            <p style="color: #FF66FF">44</p>
            <p><span style="background-color: #FF66FF"></span></p>
            <p>风险名称</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6" id="right">
    <div>
      <div class="right-tg">
        <div class="activd_1">日</div>
        <div>周</div>
        <div>月</div>
      </div>
      <p class="right-tl">某某风险趋势</p>
      <div style="width:100%;height: 100%" id="right-t"></div>
    </div>
    <div>
      <p class="right-tls">某某风险扣分详情</p>
      <table id="tabs" class="table">
        <tr>
          <td>扣分时间</td>
          <td>扣分值</td>
          <td>具体数据</td>
          <td>指标区间</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
      </table>
    </div>
  </div>



</div>

<script src="app/components/post_risk/post_risk.js"></script>
