<link rel="stylesheet" href="app/components/crimal_detail/crimal_detail.css">
<!-- 内容content -->
<div class="body container-fluid">
  <!-- 基本信息 -->
  <div class="col-md-5 basic_info_body">
    <div class="card" style="overflow: auto;">
      <div class="chart_title">基本信息</div>
      <div class="basic_info">
        <div class="img"></div>
        <div class="crimal_info">
          <div id="crimal_dangerous"></div>
          <div class="crimal_info_form_wrap" style="margin-top: -20px;">
            <div class="crimal_info_form_l">
              <div class="title">姓名</div>
              <div class="content">张某辉</div>
            </div>
            <div class="crimal_info_form_l crimal_info_form_r">
              <div class="title">性别</div>
              <div class="content">男</div>
            </div>
          </div>
          <div class="crimal_info_form_wrap">
            <div class="crimal_info_form_l">
              <div class="title">年龄</div>
              <div class="content">25</div>
            </div>
            <div class="crimal_info_form_l crimal_info_form_r">
              <div class="title">籍贯</div>
              <div class="content">南京</div>
            </div>
          </div>
          <div class="crimal_info_form_wrap">
            <div class="crimal_info_form_l">
              <div class="title">其他</div>
              <div class="content">信息</div>
            </div>
            <div class="crimal_info_form_l crimal_info_form_r">
              <div class="title">其他</div>
              <div class="content">信息</div>
            </div>
          </div>
        </div>
        <div class="crimal_other_info">
          <table>
            <tr>
              <th style="border-radius: 10px 0 0 0;border-left: 1px solid #3fe3fe;border-top: 1px solid #3fe3fe;">案别</th>
              <td style="border-top: 1px solid #3fe3fe;">盗窃案</td>
              <th style="border-top: 1px solid #3fe3fe;">监房</th>
              <td style="border-top: 1px solid #3fe3fe;">202</td>
              <th style="border-top: 1px solid #3fe3fe;">其他</th>
              <td style="border-radius: 0 10px 0 0;border-top: 1px solid #3fe3fe;">补充信息</td>
            </tr>
            <tr>
              <th style="border-left: 1px solid #3fe3fe;">刑期</th>
              <td>无期</td>
              <th>床铺</th>
              <td>4号</td>
              <th>其他</th>
              <td>补充信息</td>
            </tr>
            <tr>
              <th style="border-radius: 0 0 0 10px;border-left: 1px solid #3fe3fe;">监区</th>
              <td>13号</td>
              <th>其他</th>
              <td>补充信息</td>
              <th>其他</th>
              <td style="border-radius: 0 0 10px 0">补充信息</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 crimal_charts_wrap">
        <div id="crimal_risk_tend"></div>
      </div>
      <div class="col-md-6 crimal_charts_wrap" style="margin-left: 0;">
        <div id="crimal_character_tend"></div>
      </div>
    </div>
  </div>
  <!-- 历史记录 -->
  <div class="col-md-6 history_body">
    <div class="card illegal_tends">
      <div class="chart_title">历史记录</div>
      <div class="history_body_wrap">
        <div class="col-md-6 history_flow">
          <div class="title_flow">流动轨迹</div>
          <div class="img"></div>
          <div class="time_shaft">
            <div class="time_line"></div>
            <div class="day">
              <span style="margin-left: 0;">1日</span>
              <span>2日</span>
              <span>3日</span>
              <span>4日</span>
              <span>5日</span>
              <span>6日</span>
              <span>7日</span>
              <span>8日</span>
              <span>9日</span>
              <span>10日</span>
              <span>11日</span>
              <span>12日</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="log_wrap">
            <div class="crimal_detail_video">
              <object classid="CLSID:CD5051FA-7B04-45BF-9D8F-15E6A9584D17" standby="Waiting..." id="ocx" name="ocx" align="top" width="100%" height="100%">
                <center><a href="/resources/videoplat.exe">点击下载视频插件</a></center>
              </object>
            </div>
            <ul>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="red_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>

              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="red_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="yellow_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="green_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="red_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="red_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="yellow_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="red_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="red_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
              <li>
                <div class="time blue_color">13:21</div>
                <div class="content">
                  <p class="green_color">严重违规</p>
                  <p>发生各种各类违规现象，已通报处理。</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="app/components/crimal_detail/crimal_detail.js"></script>
<script src="app/lib/videojs/VideoMethod.js"></script>

