#background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99;
}
#content{
  float:left;
  width:100%;
  padding-bottom: 50px;
  position: relative;
}
#menu{
  position: absolute;
	width:100%;
  float:left;
  z-index: 5;
}
#button3{
  position: absolute;
  bottom: 40px;
  right: -118px;
  z-index: 10;
  transition: all 0.5s linear;
}
/*#button3:hover{*/
  /*position: absolute;*/
  /*bottom: 40px;*/
  /*transition: all 0.5s linear;*/
  /*right: 0px;*/
  /*z-index: 10;*/
/*}*/
#click_js{
  color: white;
  width: 200px;
  border: 2px solid #33FFEE;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: 100px;
  right: 130px;
  z-index: 10;
  transition: display 1s linear;
  background-color: rgba(0,6,12,0.7);
  display: none;
}
#click_js>p{
  margin: 5px 0 5px 0;
}
#click_js>p:first-child{
  margin-top: 10px;
}
#click_js>p:last-child{
  margin-bottom: 10px;
}
.actittc{
  background-color: #0000fe;
}
#click_js>p:hover{
  background-color: #0000fe;
}
#left-drop{
  position: absolute;
  z-index: 10;
  /*top: 100px;*/
  left: 0px;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 0;
  height: 420px;
  overflow: hidden;
  /*border: 1px solid skyblue;*/
  transition: width 1s linear;
  border-radius: 10px;
}
#left-drop>li{
  height: 70px;
  width: 100px;
  background-color: #000000;
}
#left-drop>li:not(:last-child){
  border-bottom: 1px solid #838699;
}
#left-drop>li>p:first-child{
  line-height: 48px;
  width: 100px;
  height: 48px;
}
#left-drop> li p{
  margin: 0;
}
#tik{
  position: absolute;
  left: 1px;
  z-index: 9;
}


#left-drop-rig{
  width: 0px;
  height: 420px;
  position: absolute;
  z-index: 5;
  top:300px;
  left: 101px;
  color: white;
  font-size: 16px;
  /*text-align: center;*/
  /*overflow: hidden;*/
  /*transition: width 1s linear;*/
  /*border: 1px solid red;*/
}
#left-drop-rig>li{
  width: 0px;
  height: 70px;
  /*border: 1px solid red;*/
 overflow: hidden;
}
#left-drop-rig>li>span{
  margin-top: 2px;
  text-align: center;
  display: inline-block;
  /*margin: 0;*/
  color: white;
  /*float: left;*/
  /*width: 108px;*/
  height: 34px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 34px;
  border: 1px solid transparent;
  margin-left: 2px;
  background-color: rgba(0,0,0,0.95);
}
#left-drop-rig>li>span:hover{
  border: 1px solid skyblue;
  background-color: rgba(99,99,99,0.95);
}
/*#left-drop-rig>li>p:nth-child(3),#left-drop-rig>li>p:nth-child(4){*/
  /*margin-top: 2px;*/
/*}*/
