/* #content{
	width: 100%;
	margin-left: 200px;
} */
#background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -99;
}


#content{
  float:left;
  position:relative;
  margin-right:25px;
  margin-top:15px;
  padding-top:23px;
  margin-bottom:27px;
  transform: translate(0,-20px);
}
#menu{
	width:135px;
	margin-top:20px;
	margin-bottom:27px;
	transform: translate(0,-20px);
	float:left;
}
#slider{
  width:230px;
  float:left;
  position:relative;
  z-index:-50;
  margin-bottom:27px;
  /*border: 1px solid red;*/
  transform: translate(0,-1%)
}
#slider::-webkit-scrollbar{
  width: 10px;
  height: 16px;
  background-color:rgba(2,148,223,.3);
}
/*定义滚动条的轨道，内阴影及圆角*/
#slider::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,26,53,.5);
  border-radius:10px;
  background-color:rgba(0,26,53,.8);
}
/*定义滑块，内阴影及圆角*/
#slider::-webkit-scrollbar-thumb{
  width: 10px;
  height: 20px;
  border-radius:10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgba(2,148,223,.7);
}
