<link rel="stylesheet" href="app/components/information/css/information.css"/>

<div class="information">
  <div class="header_nav">
    <ul>
      <li><a href="#">一级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;二级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;三级名称</a></li>
    </ul>
  </div>

  <div class="row">
    <p class="title">
      <span>消息中心</span>
      <span>(20\8)</span>
    </p>
  </div>

  <div class="row section">
    <ul>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>
      <li>
        <span>
          <span></span>
          <span>chengmei</span>
        </span>
        <span>
          <p>给你那个分配一个需求，状态为待发布</p>
          <p>在押人员风险，在押人员风险</p>
        </span>
        <span>11-03 15:22:26</span>
        <div style="clear:both"></div>
      </li>


    </ul>
  </div>
  <div value="1 0"></div>
  <div id="page" style="display: inline-block" class="page_div"></div>
  <div class="page_dropdown dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span>请选择</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu_3" aria-labelledby="dropdownMenu1">
      <li><a href="#">10</a></li>
      <li><a href="#">20</a></li>
      <li><a href="#">30</a></li>
      <li><a href="#">40</a></li>
    </ul>
  </div>
</div>

<script src="app/components/information/js/information.js"></script>


