<style>
  .bg{
    overflow: hidden;
  }
   ul{
    width:200%;
    padding:0;
    margin: 0;
    position: relative;
    margin-left: -100%;
   }
   li{
    list-style: none;
    float: left;
    padding:0;
    margin: 0;
    animation: sky_background 5s ease-out infinite;
   }
   .li_one{
    background: url('app/img/BG.png');
    background-size: 100% 100%;
   }
   .li_two{
    background: url('app/img/BG2.png');
    background-size: 100% 100%;
   }
</style>
<div class="bg">
  <ul>
    <li class="common_li li_two"></li>
    <li class="common_li li_one"></li>
  </ul>
</div>
<script>
  $(function(){
    $('.bg').css({'height':$(window).height(),'width':$(window).width()})
    $('.bg ul').css({'height':$(window).height(),'width':$(window).width()*2})
    $('.bg .common_li').css({'height':$(window).height(),'width':$(window).width()})
    setInterval(function(){
      $('ul').animate({left:"100%"},100000,'linear',function () {
          var first=$("ul>li:first-child");
          $('ul').append(first);
      }).animate({left:"0"},0)
    },500)
  })
</script>
