<style>
  .headers{
    height:90px;
		width:100%;
    line-height: 90px;
    position: relative;
	}
  .op{
    height:90px;
    width:100%;
    background:url("app/img/top2.png");
    opacity: 0.3;
  }
  .pos{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
  }
  .headers-img{
    margin-left: 30px;
  }
  .headers_text{
    font-size:24px;
    color:#fff;
  }
  .headers>div>ul{
    float: right;
  }
  .headers>div>ul li{
    float: left;
    margin-right:25px;
  }
  .headers>div>ul li:last-child{
    margin-right: 50px;
  }
</style>
<div class="headers">
  <div class="op">

  </div>
  <div class="pos">
    <img class="headers-img" src="app/img/logo.png">
    <span class="headers_text">&nbsp;南京市公安监管支队智慧管理平台</span>
    <ul>
      <li>
        <img src="app/img/search.png" alt=""/>
      </li>
      <li>
        <img src="app/img/lindang.png" alt=""/>
      </li>
      <li>
        <img src="app/img/fly2.png" alt=""/>
      </li>
      <li>
        <img src="app/img/head.png"  style="background-color: purple;border-radius: 50%" alt=""/>
      </li>
    </ul>
  </div>

</div>
<div style="clear: both"></div>
<script>
//    $("#my_click").click(function(){
//      if($("#menu").css("display")=="block"){
//        $("#menu").css("display","none");
//        $("#my_click").attr("src","app/img/big.png");
//        $('#content').css({'width':$(window).width()-$("#slider").width()-60+"px"});
//        console.log($("#content").css("width"))
//      }
//      else
//      {$("#menu").fadeIn();
//        $("#my_click").attr("src","app/img/small.png");
//        $('#content').css({'width':$(window).width()-$("#menu").width()-$("#slider").width()-60+"px"});
//
//      }
//    });
//    $("#head_input>input").focus(function(){
//      $("#head_input>img").hide();
//    });
//    $("#head_input>input").blur(function(){
//      $("#head_input>img").show();
//  });


//    $(window).resize(function(){
//      $("#my_click").click(function(){
//        if($("#menu").css("display")=="block"){
//          $("#menu").css("display","none");
//          $("#my_click").attr("src","app/img/big.png");
//          $('#content').css({'width':$(window).width()-$("#slider").width()-185+"px"});
//          console.log($("#content").css("width"))
//        }
//        else
//        {$("#menu").fadeIn();
////          $(".next").css("transform","translate(10%,-1%)");
//          $("#my_click").attr("src","app/img/small.png");
//          $('#content').css({'width':$(window).width()-$("#menu").width()-$("#slider").width()-60+"px"});
//        }
//      });
//      $("#head_input>input").focus(function(){
//        $("#head_input>img").hide();
//        $(this).css("transform","translate(0%,70%)")
//      });
//      $("#head_input>input").blur(function(){
//        $("#head_input>img").show();
//        $(this).css("transform","translate(0%,-30%)")
//      });
//    });
</script>
