<style>
  #left-drop{
    position: absolute;
    top: 100px;
    left: 0px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 0;
    height: 420px;
    overflow: hidden;
    /*border: 1px solid skyblue;*/
    transition: width 1s linear;
  }
  #left-drop>li{
     height: 70px;
     width: 100px;
    background-color: #000000;
   }
  #left-drop>li:not(:last-child){
    border-bottom: 1px solid #838699;
  }
  #left-drop>li>p:first-child{
    line-height: 48px;
    width: 100px;
    height: 48px;
  }
  #left-drop> li p{
    margin: 0;
  }
  #tik{
    width: 50px;
    height:50px;
    background-color: skyblue;
    position: absolute;
    left: 0;
  }
</style>

<div id="tik">

</div>
<ul id="left-drop">
  <li>
    <p><img src="app/img/yewu.png" alt=""/></p>
    <p>业务指导</p>
  </li>
  <li>
    <p><img src="app/img/dudao.png" alt=""/></p>
    <p>日常督导</p>
  </li>
  <li>
    <p><img src="app/img/shuhjv.png" alt=""/></p>
    <p>大数据应用</p>
  </li>
  <li>
    <p><img src="app/img/chaxun.png" alt=""/></p>
    <p>综合查询</p>
  </li>
  <li>
    <p><img src="app/img/xuexi.png" alt=""/></p>
    <p>帮助学习</p>
  </li>
  <li>
    <p><img src="app/img/weihu.png" alt=""/></p>
    <p>为维护设置</p>
  </li>
</ul>

<script>
$(function () {



  $('#tik').click(function(){
    $(this).css("display","none");
    $("#left-drop").css("width","100px");
    $("#left-drop").css("border","1px solid skyblue");
  })

  ldw=function(){
    leDw=$(window).height()-90;
    $("#tik").css({"top":leDw/2-25+"px"});
    $("#left-drop").css({"top":leDw/2-210+"px"});
  }
  ldw();

  window.onresize=function(){
    ldw();
  }

})
</script>
