<style>
	#left-drop {
		position: absolute;
		z-index: 10;
		/*top: 100px;*/
		left: 0px;
		color: white;
		font-size: 16px;
		text-align: center;
		width: 102px;
		height: 422px;
		/*overflow: hidden;*/
		/*border: 1px solid skyblue;*/
		transition: width 1s linear;
		border-radius: 10px;
		display: none;
	}

	#left-drop>li {
		height: 70px;
		width: 100px;
		background-color: #000000;
	}

	#left-drop>li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	#left-drop>li:last-child {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	#left-drop>li:not(:last-child) {
		border-bottom: 1px solid #838699;
	}

	#left-drop>li>p:first-child {
		line-height: 48px;
		width: 100px;
		height: 48px;
	}

	#left-drop>li p {
		margin: 0;
	}

	#tik {
		position: absolute;
		left: 1px;
		z-index: 9;
	}

	.second_menu {
		position: absolute;
		left: 102px;
		/*height: 70px;*/
		margin-top: -70px;
		width: 390px;
		background: rgba(0, 0, 0, .5);
		overflow: auto;
		height: auto;
		display: none;
	}

	.second_menu li {
		margin: 5px;
		padding: 6px;
		width: 120px;
		border-radius: 5px;
		/* height: 20px; */
		float: left;
		overflow: auto;
		background-color: rgba(0, 0, 0, .7);
	}
</style>

<img src="app/img/left-button.png" id="tik">
<ul id="left-drop">
</ul>
<script>
	$(function() {
		var menu = localStorage.getItem("menu");
		var img = "";
		var content = "";
		var childmenyarry = [];
		menu = JSON.parse(menu);
		var menyarry = [];
		menyarry = menu;

		function aaa() {
			for(var i = 0; i < menyarry.length; i++) {
				childmenyarry = menyarry[i].childMenuList;
				content = "<li><p><img src="+menyarry[i].icon+"/></p><p>"+menyarry[i].name+"</p>";
				if(childmenyarry.length > 0) {
					content += "<ul class='second_menu'>";
					for(var j = 0; j < childmenyarry.length; j++) {
						var id = childmenyarry[j].path;
						content += "<li><a id='"+childmenyarry[j].path+"'><span>" + childmenyarry[j].name + "</span><a></li>";
					}
					content += "</ul>";
				}
				content += "</li>";
				$("#left-drop").append(content);
			}
			/*左侧边栏的点击事件*/
			$('#tik').click(function() {
				$("#left-drop").css("display", "block");
				$("#left-drop").css("border", "1px solid skyblue");
			})
			$('#left-drop>li').hover(function() {
				dropInx = $(this).index();
				$("ul.second_menu").eq(dropInx).css("display", "block")
				$("ul.second_menu").eq(dropInx).parent().siblings().children("ul.second_menu").css("display", "none");
				console.log(dropInx);
			})
			$('ul.second_menu').bind("mouseleave", function(e) {
				e.stopPropagation();
				$("#left-drop").css("display", "none");
				$("#left-drop").css("border", "1px solid transparent");
				$("ul.second_menu").css("display", "none");
			})
			/*左侧边栏的定位*/
			function ldw() {
				leDw = $(window).height();
				$("#tik").css({ "top": leDw / 2 - 32 + "px" });
				$("#left-drop").css({ "top": leDw / 2 - 210 + "px" });
				$("#left-drop-rig").css({ "top": leDw / 2 - 210 + "px" });
			}
			ldw();
		}
		aaa();

		//跳转方法
		function jump(id) {
			alert(1)
			console.log(id)
			switch(id) {

				case 'list_law':
					$('#content').load('app/components/list_law/list_law.html');
					break;
			}
		}
	});
</script>
