<style type="text/css">
  .menus{
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 110px;
    text-align: center;
    position: relative;
    color: white;
  }
  .menus>div{
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;margin:auto;
  width: 615px;
  height: 100px
  }
  .menus ul>li:nth-child(1){
    float: left;
    width: 100px;
    height: 80px;
  }
  .menus ul>li:nth-child(5){
    margin-left: 20px;
    float: left;
    width: 100px;
    height: 80px;
  }
  .menus ul>li:nth-child(2),.menus ul>li:nth-child(4){
    margin-left: 20px;
    float: left;
    width: 110px;
    height: 85px;
  }
  .menus ul>li:nth-child(3){
    margin-left: 20px;
    float: left;
    width: 115px;
    height: 90px;
  }
  .menus li div{
    background-color: black;
    width: 100%;
    height: 60%;
    border: 1px solid transparent;
  }
  .active{
    border: 10px solid skyblue;
    box-shadow: 0 0 8px 3px #1675CB;
  }
</style>


<div class="menus" style="position: relative">
  <div>
    <ul>
      <li>
        <p>页面一</p>
        <div  class="active"></div>
      </li>
      <li>
        <p>页面二</p>
        <div></div>
      </li>
      <li>
        <p>页面三</p>
        <div  class="active"></div>
      </li>
      <li>
        <p>页面四</p>
        <div></div>
      </li>
      <li>
        <p>页面五</p>
        <div  class="active"></div>
      </li>
    </ul>
  </div>

</div>

<script type="text/javascript">

</script>
