
.contents_two{
  /*background: rgba(0, 0, 0, 0.3);*/
  width: 100%;
  height: 100%;
  margin-top:2%;
}

.container{width:100%}

.list{float:left;
  padding:0;
  margin:0;
}

.list li{
  float:left;
  padding:1.1%;
  transform:translate(550%,0);
}

.list li>a{
  text-decoration:none;
  color:#0FD7F3
}

.list li>a:hover{
  color:#E4DB67
}

.contents_two div.row:nth-child(2){
  width:91%;
  height:370px;
  overflow:hidden;
  background-color:transparent;
  border-radius:10px;
  transform:translate(7%,0);
}

#imp_person_row2{
  width:111%;
  background:rgba(34, 142, 186, .1)
}


#imp_person{
  width:91%;
  background-color: rgba(34, 142, 186, .3);
  height:230px;
  border-radius:10px;
  margin-top:26px;
  transform:translate(7%,0);
}

#imp_person>ul{
  position:relative;
  transform:translate(0,2%);
}

#imp_person>ul li{
  width:200px;
  height:125px;
  border:1px solid transparent;
  border-radius:10px;
  background-color:#224E71;
  position: absolute;
  transform:translate(0,30%);
  z-index:0;
  cursor:pointer;
  margin:0;
  padding:0
}

#imp_person>ul>li>img{
  width:70px;
  transform:translate(15%,13%);
}

#imp_person>ul>li:nth-child(1){
  left:-15%;
}
#imp_person>ul>li:nth-child(2){
  left:6%;
}
#imp_person>ul>li:nth-child(3){
  left:25%;
}
#imp_person>ul>li:nth-child(4){
  left:44%;
}
#imp_person>ul>li:nth-child(5){
  left:63%;
}

#imp_person>ul>li:nth-child(6){
  left:82%;
}

#imp_person>ul>li:nth-child(7){
  left:101%;
}

.p-dw{
  position: absolute;
  color: white;
  font-size: 24px;
  top: 3%;
  left: 20px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #169ACB;
  box-shadow: inset 0 0 15px 3px #169ACB;
  border-radius: 10px;
}

.imp_person_title_2{
  position: absolute;
  width:10%;
  transform: translate(500%,100%);
  color:#fff;
  z-index:100;
}

.imp_person_title_2 span{
  border:2px solid #3A4B5D;
  cursor:pointer;
  padding: 2% 5%;
  position:relative;
  z-index:101;
}

.imp_person_title_2 span:first-child{
  position:relative;
  left:6%;
  transform: translate(1%,0);
  border-bottom-left-radius:10px;
  border-right:0;
  z-index:101;
  padding:2%;
  padding-left:15%;
  padding-right:15%;
  border-top-left-radius:10px;
}

.imp_person_title_2 span:nth-child(2){
  padding:2%;
  padding-left:15%;
  padding-right:15%;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
  background-color: #424854;
}



.imp_person_toggle{
  color:#fff;
  float:right;
  width:20%;
  transform: translate(-10%,100%);
}

.imp_person_toggle span{
  border:2px solid #3A4B5D;
  cursor:pointer;
  padding: 2% 5%;
  position:relative;
  z-index:101;
}

.imp_person_toggle span:first-child{
  position:relative;
  left:6%;
  transform: translate(1%,0);
  border-bottom-left-radius:10px;
  border-right:0;
  z-index:101;
  border-top-left-radius:10px;
}

.imp_person_toggle span:nth-child(2){
  position:relative;
  left:4%;
  z-index:101;
  border-right:0;
}

.imp_person_toggle span:nth-child(3){
  position:relative;
  left:2%;
  z-index:101;
  border-right:0;
}

.imp_person_toggle span:nth-child(4){
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}

.imp_person_index{
  color:#fff;
  transform:translate(54%,-115%);
  font-size:1.1rem;
}
.imp_person_index p{
  margin-bottom:5px;
}
.imp_person_index p:nth-child(4){
  color:#EC0A0D;
  font-weight:bold;
}


#d111{
  color: #fff;
  position:relative;
  left:-15%;
  width: 30%;
}

#d114{
  top:-70px;
  left:-25px;
  width:100px;
  text-align: center;
  color:#ED7000
}

#d114 p{
  margin-bottom:0;
}

#d114 p:first-child{
  font-size:3rem;
  font-weight:bold;
}

#d114 p:nth-child(2)
{
  font-size:1.5rem;
  font-weight:bold;
}

.arrow {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  transform: translate(50%,0);
}
.arrow:before, .arrow:after {
  content: '';
  border-color: transparent;
  border-style: solid;
  position: absolute;
  z-index:-10;
}
.arrow-right:before {
  border: none;
  z-index: -10;
  background-color: #fff;
  height: 20%;
  width: 35%;
  top: 35%;
  left: 8px;
}
.arrow-right:after {
  left:50%;
  top:8px;
  border-width:10px 10px;
  border-left-color:#fff;
  z-index: -10;
}

.img-holder{
  background-color: #225072;
}

.img-holder>div{
  transform:translate(45%,-100%);
}

.img-holder>div p{
  margin-bottom:5px;
  margin-left:5px;
  color:#fff
}

.img-holder>div p:nth-child(4){
  color:red
}

/*/!*#Slide1{display: none}*!/*/
/*#Slide2{display: none}*/
/*#Slide3{display: none}*/

#img-holder1{left: 27%}
#img-holder2{left: 31%}
#img-holder3{left: 35%}
#img-holder4{left: 38%}
#img-holder5{left: 41%}
#img-holder6{left: 44%}
#img-holder7{left: 47%}


#imp_person_per3{
  top:20%
}

#button3{
  position: absolute;
  bottom: 40px;
  right: -118px;
  z-index: 10;
  transition: all 0.5s linear;
}
#click_js{
  color: white;
  width: 200px;
  border: 2px solid #33FFEE;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  bottom: 100px;
  right: 130px;
  z-index: 10;
  transition: display 1s linear;
  background-color: rgba(0,6,12,0.7);
  display: none;
}
#click_js>p{
  margin: 5px 0 5px 0;
}
#click_js>p:first-child{
  margin-top: 10px;
}
#click_js>p:last-child{
  margin-bottom: 10px;
}
.actittc{
  background-color: #0000fe;
}
#click_js>p:hover{
  background-color: #0000fe;
}


#slider img{
  vertical-align: inherit;!important;
}
#slider{
  width:1360px;
  margin:auto;
  font-size:12px;
  height: 190px;
  line-height: 190px;
  position: absolute;
  left:0;
  right:0;
  top:40px;
  overflow: hidden;
}
#slider>span{
  position: absolute;
  display: inline-block;
  left: -257px;
  /*width: 1585px;*/
  height: 190px;
  margin-left: 29px;
  transition: left 1s linear;
}

#slider>span>img{
  width:100%;
  height:100%;
}

#slider>span>span:not(:first-child){
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px;
  margin-left: -4px;
  width: 232px;
  height: 80%;
  background:rgba(6, 13, 21, 0.38);
  border-radius:10px;
  transition: all 1s linear;
}
#slider>span>span.one{
  transition: all 1s linear;
  width: 262px;
  height: 95%;
}
#slider>span>span.two{
  transition: all 1s linear;
  width: 242px;
  height: 87%;
}
#slider>span>span.twos{
  transition: all 1s linear;
  width: 242px;
  height: 87%;
}

.person_list{
  height: 100px;
  overflow: hidden;
}
