<link rel="stylesheet" href="app/components/risk_people/risk_people.css">
<div class="container contents_two">
  <div class="row">
    <ul class="col-xs-12 list prison_list">

    </ul>

  </div>

  <div class="row">
    <div  style="height:100%" class="col-xs-6 row">
      <div  class="col-xs-5" style="padding:0;height:100%">
        <div style="width:100%;height:100%" id="imp_person_per1"></div>
      </div>
      <div  class="col-xs-7" style="padding:0;height:100%">
        <div  style="width:100%;height:100%"  id="imp_person_per3"></div>
        <div id="d111">
          <div id="d114">
            <p>950人</p>
            <p>重大风险人员</p>
          </div>
          <div id="d112"></div>
          <div id="d113"></div>
          <span class="arrow arrow-right"></span>
        </div>
      </div>
    </div>
    <div class="col-xs-6" style="padding:0;height:100%">
      <div style="width:100%;height:100%" id="imp_person_per4"></div>
    </div>
  </div>

  <div class="row" id="imp_person">
    <div class="imp_person_title">重大风险人员详情</div>
    <div class="imp_person_toggle">
        <span>新增</span>
        <span>一级</span>
        <span>二级</span>
        <span>三级</span>
    </div>

    <div class="slide_total" id="Slide1">
      <div id="img-holder1" class="img-holder">
        <img src="app/img/text/1.jpg">
        <div>
          <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
      <div id="img-holder2" class="img-holder">
        <img src="app/img/text/2.jpg">
        <div>
          <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
      <div id="img-holder3" class="img-holder">
        <img src="app/img/text/3.jpg">
        <div>
           <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
      <div id="img-holder4" class="img-holder">
        <img src="app/img/text/4.jpg">
        <div>
           <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
      <div id="img-holder5" class="img-holder">
        <img src="app/img/text/5.jpg">
        <div>
           <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
      <div id="img-holder6" class="img-holder">
        <img src="app/img/text/6.jpg">
        <div>
           <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
      <div id="img-holder7" class="img-holder">
        <img src="app/img/text/7.jpg">
        <div>
           <p>姓名：张三</p>
          <p>番号：123456</p>
          <p>监室：102监室</p>
          <p>风险等级：一级</p>
          <p>风险原因：狂躁症</p>
        </div>
      </div>
    </div>
    <div class="scrolller-container" style="display: none">
      <div class="scroller"></div>
    </div>
    </div>
</div>
<script src="app/lib/js/Draggable.min.js"></script>
<script src="app/lib/js/TweenMax.min.js"></script>
<script src="app/components/risk_people/risk_people.js"></script>
