<link rel="stylesheet" href="app/components/risk_people/risk_people.css">



<div class="container contents_two">
  <div class="row">
    <ul class="col-xs-12 list prison_list">
    </ul>
  </div>
  <!--左上角echarts圆饼图-->
  <div class="row total_1">
    <div  style="height:100%;width: 40.7%;" class="col-xs-5 row">
      <div  class="col-xs-5" style="padding:0;height:100%">
        <div style="width:100%;height:100%" id="imp_person_per1"></div>
      </div>
      <div  class="col-xs-7 total_1_2" style="padding:0;height:100%">
        <div  style="width:100%;height:100%"  id="imp_person_per3"></div>
        <div id="d111">
          <div id="d114">
            <p>950人</p>
            <p>重大风险人员</p>
          </div>
          <span class="arrow arrow-right"></span>
        </div>
      </div>
    </div>
    <div class="imp_person_title_1">
      <p class="p-dw">重大风险人员占比</p>
    </div>
    <span class="imp_person_title_2">
        <span>年</span>
        <span>月</span>
    </span>
    <!--左上角echarts圆饼图-->

    <!--右上角echarts折线图-->
    <div class="col-xs-7" id="imp_person_row2" style="width:715px;padding:0;height:100%">
      <div style="width:100%;height:100%" id="imp_person_per4"></div>
    </div>
    <!--右上角echarts折线图-->
  </div>

 <!--轮播图 -->
  <div class="row" id="imp_person">
    <div class="imp_person_title">
      <p class="p-dw">重大风险人员详情</p>
    </div>
    <div class="imp_person_toggle">
        <span>新增</span>
        <span>一级</span>
        <span>二级</span>
        <span>三级</span>
    </div>
    <div style="width:100%;height:100%;position:relative;padding:0 50px;">
      <div id="slider">
        <span>
          <span></span>
          <!--<span><img src="app/img/text/1.jpg" alt=""/></span>-->
          <span style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/1.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/2.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff" title="风险原因：狂躁症">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span class="two" style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/3.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff" title="风险原因：狂躁症">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span class="one" style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/4.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff" title="风险原因：狂躁症">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span class="twos" style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/5.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff" title="风险原因：狂躁症">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/6.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff" title="风险原因：狂躁症">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span style=" padding: 20px;">
            <div style="float: left;height: 100%;width: 55%; ">
              <img style="height: 100%;width:100%;" src="app/img/text/7.jpg" alt=""/>
            </div>
            <span style="line-height:100%;float: left display: inline-block;height: 100%;width: 45%">
              <div class="person_list">
                <p style="color:#fff">姓名：张三</p>
                <p style="color:#fff">番号：123456</p>
                <p style="color:#fff">监室：102监室</p>
                <p style="color:#fff">风险等级：<span style="color:red">一级</span></p>
                <p style="color:#fff" title="风险原因：狂躁症">风险原因：狂躁症</p>
              </div>
            </span>
          </span>
          <span>
          </span>
        </span>
    </div>
    </div>
  </div>
  <!--轮播图 -->
</div>


<script>

//  右下角监所切换
  $("#button3").click(function(){
    $(this).css("right","0");
    $("#click_js").css("display","block")
  })
  $("#click_js p").mousedown(function(){
    $("#click_js").css("display","none");
    $("#button3").css("right","-118px");
    pInx=$(this).index();
  })
//  右下角监所切换


</script>
<script src="app/lib/3d_Carousel/Draggable.min.js"></script>
<script src="app/lib/3d_Carousel/TweenMax.min.js"></script>
<script src="app/components/risk_people/risk_people.js"></script>
