<link rel="stylesheet" href="app/components/list_base/list_base.css"/>

<div class="list_supervisor row">
  <div class="header_nav">
    <ul>
      <li><a href="#">一级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;二级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;三级名称</a></li>
    </ul>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-8" id="mid-bs">
    <p class="bs-title">基本信息</p>
    <div class="col-xs-12" id="detail">
      <p><span class="light-color">编号</span>2017111112345</p>
      <p><span class="light-color">督导单名称</span>2017111112345</p>
      <p><span class="light-color">整改所</span>南京市看守所</p>
      <ul>
        <li class="light-color">督导内容</li>
        <li>017111ewqeqweewqdasqweqweqwewqewegfdjkghshfkgdflkghflkfgndfklglfdkgkldfghkjdfgjkfdhg0171111sdkgfdjkghshfkgdflkghflkfgndfklglfdkgkldfghkjdfgjkfdhg</li>
        <div style="clear: both"></div>
      </ul>
      <p><span class="light-color">督办期限</span>2017-11-11</p>
      <p><span class="light-color">违规类型</span>打架赌博</p>
      <div class="del-ul">
        <span class="light-color">附件</span>
        <ul>
          <p><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;<a href="">添加附件</a></p>
          <li>
            <img src="app/img/jk.jpg" />
            <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
            </p>
            <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
          </li>
          <li>
            <img src="app/img/jk.jpg" />
            <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
            </p>
            <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
          </li>
          <li>
            <img src="app/img/jk.jpg" />
            <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
            </p>
            <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
          </li>
        </ul>
      </div>
      <div style="clear: both"></div>
    </div>
    <div style="clear: both"></div>
    <p class="bs-title">操作记录&nbsp;&nbsp;&nbsp;<span class="drbto glyphicon glyphicon-chevron-down"></span></p>

    <div class="col-xs-12" id="operat">
      <div class="row do_write_div">
        <div class="row">
          <span>处理时间</span>
          <span>处理人</span>
          <span>岗位</span>
          <span>操作步骤</span>
          <span>其他操作</span>
        </div>
        <div class="row">
          <span>2017-09-01</span>
          <span>黎明</span>
          <span>支队巡查</span>
          <span>提交民警审核</span>
          <span>小李上传了附件</span>
          <p class="question_dec_1">
            <span class="col-1">问题描述:</span>
            <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
          </p>
        </div>
        <div class="row">
          <span>2017-09-01</span>
          <span>黎明</span>
          <span>支队巡查</span>
          <span>提交民警审核</span>
          <span>小李上传了附件</span>
          <p class="question_dec_1">
            <span class="col-1">问题描述:</span>
            <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
          </p>
        </div>
        <div class="row">
          <span>2017-09-01</span>
          <span>黎明</span>
          <span>支队巡查</span>
          <span>提交民警审核</span>
          <span>小李上传了附件</span>
          <p class="question_dec_1">
            <span class="col-1">问题描述:</span>
            <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
          </p>
        </div>
        <div class="row">
          <span>2017-09-01</span>
          <span>黎明</span>
          <span>支队巡查</span>
          <span>提交民警审核</span>
          <span>小李上传了附件</span>
          <p class="question_dec_1">
            <span class="col-1">问题描述:</span>
            <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12" id="record">
      <ul>
        <li class="active1">签收物流</li>
        <li>反馈</li>
      </ul>
      <div style="clear: both"></div>
      <div class="xinx">

      </div>
      <button>提&nbsp;&nbsp;交</button>
    </div>
  </div>

</div>


<script src="app/components/list_base/list_base.js"></script>

