<link rel="stylesheet" href="app/components/list_supervisor/css/list_supervisor.css"/>

<div class="list_supervisor">
  <div class="header_nav">
    <ul>
      <li><a href="#">一级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;二级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;三级名称</a></li>
    </ul>
  </div>
  <div class="section_left col-xs-8" style="background-color:yellow;">
    <div class="row" style="background-color:blue;">
      <p class="title">督导单创建</p>
    </div>
    <div class="row section">
      <ul class="section_ul" style="background-color:red;">
        <li>
          <span>编号</span>
          <span>201703160598</span>
        </li>
        <li>
          <span>当前状态</span>
          <span>状态</span>
        </li>
        <li>
          <span>整改所</span>
          <span>监所</span>
        </li>
        <li>
          <span>督导单名称</span>
          <span>
            <input type="text"/>
          </span>
        </li>
        <li>
          <span>事件时间</span>
          <span>
            <input type="text"/>
          </span>
        </li>
        <li>
          <span>问题描述</span>
          <span>
            <textarea name="" id="" cols="30" rows="10">
            </textarea>
          </span>
        </li>
        <li>
          <span>违规类型</span>
          <span>
            <input type="text"/>
          </span>
        </li>
        <li>
          <span>附件</span>
          <span>添加附件</span>
        </li>
        <li>
          <img src="" alt=""/>
          <img src="" alt=""/>
          <img src="" alt=""/>
        </li>
      </ul>
    </div>
  </div>


  <div class="section_right col-xs-4" style="background-color:green;">

  </div>
</div>







<script src="app/components/list_supervisor/js/list_supervisor.js"></script>
