<link rel="stylesheet" href="app/components/new_person/new_person.css">
<!--<ul id="bottom-ul">-->
  <!--<li class="active-box">押解总量</li>-->
  <!--<li>新收人员</li>-->
  <!--<li>出所人员</li>-->
  <!--<li>临时出所</li>-->
<!--</ul>-->
<img id="button1" src="app/img/button1.png" alt=""/>
<!--<img id="button2" src="app/img/button2.png" alt=""/>-->
<img id="button3" src="app/img/button3.png" alt=""/>
<div class="person row">

  <div class="col-sm-3 per-left">
    <div id="left-df" style="width: 100%;height: 59%;position: relative;">
      <p class="left-fx">新收人员</p>
      <p class="left-zb">·设计压量占比</p>
      <p class="left-rs">·压量人数</p>
      <img src="app/img/button4.png" class="left-img"/>
      <div style="width: 100%;height:100%;" id="d1">
      </div>
      <div class="left-dw">
        <p><span>40</span>分</p>
        <span>良好</span>
      </div>
      <div class="man-wo">
        <p class="man"><span>男</span><span>55</span></p>
        <p class="woman"><span>女</span><span>49</span></p>
      </div>
    </div>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width: 100%;height: 40%;" id="left-bom"></div>
  </div>



  <div  class="col-sm-2 per-mid">
    <div class="addshow">
      <div style="width: 50%;height: 100%;float: left">
        <p>正常收押</p>
        <p>
          15<span style="background: url('app/img/jiantou1.png')"></span>
        </p>
      </div>
      <div style="width: 50%;height: 100%;float: left">
        <div style="width: 100%;height: 100%" id="mid-1"></div>
      </div>
    </div>

    <div class="addshow">
      <div style="width: 50%;height: 100%;float: left">
        <p>三类案件收押</p>
        <p>
          15<span  style="background: url('app/img/jiantou.png')"></span>
        </p>
      </div>
      <div style="width: 50%;height: 100%;float: left">
        <div style="width: 100%;height: 100%" id="mid-2"></div>
      </div>
    </div>

    <div class="addshow">
      <div style="width: 50%;height: 100%;float: left">
        <p>风险收押</p>
        <p>
          15<span  style="background: url('app/img/jiantou1.png')"></span>
        </p>
      </div>
      <div style="width: 50%;height: 100%;float: left">
        <div style="width: 100%;height: 100%" id="mid-3"></div>
      </div>
    </div>

    <div class="addshow">
      <div style="width: 50%;height: 100%;float: left">
        <p>重要罪犯嫌疑人</p>
        <p>
          15<span  style="background: url('app/img/jiantou.png')"></span>
        </p>
      </div>
      <div style="width: 50%;height: 100%;float: left">
        <div style="width: 100%;height: 100%" id="mid-4"></div>
      </div>
    </div>

    <div class="addshows">
      <div style="width: 50%;height: 100%;float: left">
        <p>风险人员</p>
        <p>
          15<span  style="background: url('app/img/jiantou1.png')"></span>
        </p>
      </div>
      <div style="width: 50%;height: 100%;float: left">
        <div style="width: 100%;height: 100%" id="mid-5"></div>
      </div>
    </div>
  </div>



  <div  class="col-sm-7 per-right">
    <div class="right-tg">
      <div class="activd_1">日统计</div>
      <div>周统计</div>
      <div>月统计</div>
    </div>
    <div style="width: 100%;height:50%" id="right-1"></div>
    <div style="width: 100%;height:50%;display: none" id="right-2"></div>
    <div style="width: 100%;height:50%;display: none" id="right-3"></div>
    <p class="p-dw">
      本月<span>9.6</span>日收押人数最多：<span>30人</span>
    </p>
    <hr style="width: 90%;height: 1%;margin-top: 0;margin-bottom: 0;border-color: #759ACE"/>
    <div style="width: 100%;height:49%;position: relative">
      <div class="br-dw">
        <div>
          <div></div>
          <p>姓名：张三</p>
          <p>番号：1234567</p>
          <p>罪名：锒铛入狱</p>
          <p>监区：3区</p>
        </div>
        <div>
          <div></div>
          <p>姓名：张三</p>
          <p>番号：1234567</p>
          <p>罪名：锒铛入狱</p>
          <p>监区：3区</p>
        </div>
        <div>
          <div></div>
          <p>姓名：张三</p>
          <p>番号：1234567</p>
          <p>罪名：锒铛入狱</p>
          <p>监区：3区</p>
        </div>
        <div>
          <div></div>
          <p>姓名：张三</p>
          <p>番号：1234567</p>
          <p>罪名：锒铛入狱</p>
          <p>监区：3区</p>
        </div>
        <div>
          <div></div>
          <p>姓名：张三</p>
          <p>番号：1234567</p>
          <p>罪名：锒铛入狱</p>
          <p>监区：3区</p>
        </div>
      </div>
    </div>
  </div>

</div>
<script src="app/components/new_person/new_person.js"></script>
