<link rel="stylesheet" href="app/components/menu/menu.css">


<div class="menus" style="position: relative">
  <div>
    <ul>
      <li>
        <p>页面一</p>
        <div  class="active"></div>
      </li>
      <li>
        <p>页面二</p>
        <div></div>
      </li>
      <li>
        <p>页面三</p>
        <div  class="active"></div>
      </li>
      <li>
        <p>页面四</p>
        <div></div>
      </li>
      <li>
        <p>页面五</p>
        <div  class="active"></div>
      </li>
    </ul>
  </div>

</div>

