<link rel="stylesheet" href="app/components/menu/menu.css">

<img id="button1" src="app/img/button1.png" alt=""/>
<div class="menus" style="position: relative">
  <div>
    <ul>
      <li>
        <p>全市风险</p>
        <div onclick="change_home_page('QSFX')"></div>
      </li>
      <li>
        <p>基础风险</p>
        <div onclick="change_home_page('JCFX')"></div>
      </li>
      <li>
        <p>风险人员</p>
        <div onclick="change_home_page('FXRY')"  class="active"></div>
      </li>
      <li>
        <p>全市押量</p>
        <div onclick="change_home_page('QSYL')"></div>
      </li>
      <li>
        <p>工作提醒</p>
        <div onclick="change_home_page('GZTX')"></div>
      </li>
    </ul>
  </div>

</div>
<script src="app/components/menu/menu.js"></script>
