<link rel="stylesheet" href="app/components/list_set/css/list_supervisor.css"/>

<div class="list_supervisor">
  <div class="header_nav">
    <ul>
      <li><a href="#">一级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;二级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;三级名称</a></li>
    </ul>
  </div>
  <div class="section_left col-xs-9">
    <div class="row">
      <p class="title">督导单创建</p>
    </div>

    <div class="row section">
      <ul class="col-xs-2" id="dolist">
        <li>
          步骤1名称
          <span>1</span>
        </li>
        <li>
          步骤2名称
          <span>2</span>
        </li>
        <li>
          步骤3名称
          <span>3</span>
        </li>
        <li>
          步骤4名称
          <span>4</span>
        </li>
        <li>
          步骤5名称
          <span>5</span>
        </li>

      </ul>
      <ul class="col-xs-10" id="detail">
        <li>
          <div class="ss">
            <p>
              <i style="display:inline-block;width: 30%">设置期限</i>
              <i>
                <textarea class="top-tex"></textarea>
              </i>
            </p>
            <p>
              <i style="display:inline-block;width: 30%">评论</i>
              <i>
                <textarea class="top-texs"></textarea>
              </i>
            </p>
            <p class="prig">
              <button>下发</button>
              <button>提交</button>
              <button class="dis">取消</button>
            </p>
          </div>
          <p class="light-color">小张 2017-09-01 10:22:30&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></p>
          <div>
            <p><span class="light-color">事件时间</span>2017-09-01 10:52:30 <i class="rtb"></i></p>
            <p><span class="light-color">问题描述</span>fkjsdgkjdfdkjkgsieu</p>
            <p><span class="light-color">违规类型</span>赌博</p>
            <div>
              <span class="light-color">上传附件</span>
              <ul>
                <li>
                  <div></div>
                  <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li>
                  <div></div>
                  <p>监所视屏2.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">李警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li>
                  <div></div>
                  <p>监所视屏3.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">赵警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
              </ul>
              <div style="clear: both"></div>
            </div>
            <p style="margin-top: 5px">
              <span class="light-color" style="float: left">评论<i class="glyphicon glyphicon-pencil" style="color: #666;float: right;margin-right: 5px"></i></span>
              <a class="add">添加</a>
              <textarea style="display: none" class="tear"></textarea>
            </p>
            <p class="btn-ad">
              <button>提交</button>
              <button>取消</button>
            </p>
            <div style="clear: both;border: none;padding: 0"></div>
          </div>
        </li>
        <li>
          <div class="ss">
            <p>
              <i style="display:inline-block;width: 30%">设置期限</i>
              <i>
                <textarea class="top-tex"></textarea>
              </i>
            </p>
            <p>
              <i style="display:inline-block;width: 30%">评论</i>
              <i>
                <textarea class="top-texs"></textarea>
              </i>
            </p>
            <p class="prig">
              <button>下发</button>
              <button>提交</button>
              <button class="dis">取消</button>
            </p>
          </div>
          <p class="light-color">小张 2017-09-01 10:22:30&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></p>
          <div style="height: 0px;padding: 0px">
            <p><span class="light-color">事件时间</span>2017-09-01 10:52:30 <i class="rtb"></i></p>
            <p><span class="light-color">问题描述</span>fkjsdgkjdfdkjkgsieu</p>
            <p><span class="light-color">违规类型</span>赌博</p>
            <div>
              <span class="light-color">上传附件</span>
              <ul>
                <li>
                  <div></div>
                  <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li>
                  <div></div>
                  <p>监所视屏2.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">李警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li>
                  <div></div>
                  <p>监所视屏3.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">赵警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
              </ul>
              <div style="clear: both"></div>
            </div>
            <p style="margin-top: 5px">
              <span class="light-color" style="float: left">评论<i class="glyphicon glyphicon-pencil" style="color: #666;float: right;margin-right: 5px"></i></span>
              <a class="add">添加</a>
              <textarea style="display: none" class="tear"></textarea>
            <p class="btn-ad">
              <button>提交</button>
              <button>取消</button>
            </p>
            </p>
            <div style="clear: both;border: none;padding: 0"></div>
          </div>
        </li>
        <li>
          <div class="ss">
            <p>
              <i style="display:inline-block;width: 30%">设置期限</i>
              <i>
                <textarea class="top-tex"></textarea>
              </i>
            </p>
            <p>
              <i style="display:inline-block;width: 30%">评论</i>
              <i>
                <textarea class="top-texs"></textarea>
              </i>
            </p>
            <p class="prig">
              <button>下发</button>
              <button>提交</button>
              <button class="dis">取消</button>
            </p>
          </div>
          <p class="light-color">小张 2017-09-01 10:22:30&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></p>
          <div style="height: 0px;padding: 0px">
            <p><span class="light-color">事件时间</span>2017-09-01 10:52:30 <i class="rtb"></i></p>
            <p><span class="light-color">问题描述</span>fkjsdgkjdfdkjkgsieu</p>
            <p><span class="light-color">违规类型</span>赌博</p>
            <div>
              <span class="light-color">上传附件</span>
              <ul>
                <li>
                  <div></div>
                  <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li>
                  <div></div>
                  <p>监所视屏2.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">李警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li>
                  <div></div>
                  <p>监所视屏3.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">赵警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
              </ul>
              <div style="clear: both"></div>
            </div>
            <p style="margin-top: 5px">
              <span class="light-color" style="float: left">评论<i class="glyphicon glyphicon-pencil" style="color: #666;float: right;margin-right: 5px"></i></span>
              <a class="add">添加</a>
              <textarea style="display: none" class="tear"></textarea>
            <p class="btn-ad">
              <button>提交</button>
              <button>取消</button>
            </p>
            </p>
            <div style="clear: both;border: none;padding: 0"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="section_right col-xs-3">
    <div class="row">
      <p class="title-r">基本信息</p>
    </div>
    <div style="clear: both"></div>
    <div class="base row">
      <div>
        <span>综合查询</span>
      </div>
      <ul class="dbul">
        <li>
          <ul>
            <li>编号</li>
            <li>2017010112345</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>督导单名称</li>
            <li>大时代</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>整改所</li>
            <li>看守所</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>督导内容</li>
            <li style="word-wrap:break-word">oafhdskjfghsdlhfdkjghfighwoigewhgoewgpjsdgh</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>督导期限</li>
            <li>2017-05-04</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>是否异议</li>
            <li>否</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>监所发现</li>
            <li>是&nbsp;&nbsp;&nbsp;&nbsp;<a href="">警综查询</a></li>
          </ul>
        </li>
        <li>
          <ul>
            <li>附件信息</li>
            <li>
              <ul>
                <li><span></span><a href="">添加附件</a></li>
                <li class="dbtb">
                  <div></div>
                  <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li class="dbtb">
                  <div></div>
                  <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
                <li class="dbtb">
                  <div></div>
                  <p>监所视屏1.mp4
                    <span class="tbf">
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                  </p>
                  <p class="light-color">王警官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017-09-04</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</div>


<script src="app/components/list_set/js/list_supervisor.js"></script>

