<link rel="stylesheet" href="app/components/basic_info/css/basic_info.css"/>

<div class="basic_info">
  <div class="header_nav">
    <ul>
      <li><a href="#">一级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;二级名称 &nbsp;</a>></li>
      <li><a href="#">&nbsp;三级名称</a></li>
    </ul>
  </div>
  <div class="basic_info_main col-xs-9">
    <div class="row">
      <p class="title">基本信息</p>
    </div>
    <div class="section">
      <ul class="section_ul">
        <li class="row">
          <span class="col-xs-1">编号</span>
          <span class="col-xs-9">201703160598</span>
        </li>
        <li class="row">
          <span class="col-xs-1">当前状态</span>
          <span class="col-xs-9">状态</span>
        </li>
        <li class="row">
          <span class="col-xs-1">督导单名称</span>
          <span class="col-xs-9">
            <input type="text"/>
          </span>
        </li>
        <li class="row">
          <span class="col-xs-1">整改所</span>
          <span class="col-xs-9">监所</span>
        </li>
        <li class="row">
          <span class="col-xs-1 question_dec">督导内容</span>
          <div class="question_dec_1 col-xs-6">
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          </div>
        </li>
        <li class="row">
          <span class="col-xs-1">监所是否发现</span>
          <span class="col-xs-9 find_yes">
            <span>
              否
            </span>
            <span>
              警综查询
            </span>
          </span>
        </li>
        <li class="row">
          <span class="error_type col-xs-1">违规类型</span>
          <span class="col-xs-9">
            <input type="text"/>
          </span>
        </li>
        <li class="row">
          <span class="col-xs-1">附件</span>
          <span class="click_add col-xs-9 glyphicon glyphicon-plus">
            <span>添加附件</span>
          </span>
        </li>
        <li class="row">
          <div class="col-xs-3 col-xs-offset-1">
            <div class="thumbnail">
              <img src="app/components/list_supervisor/image/jk.jpg">
              <div class="caption">
                <p>监听视频1.mp4
                    <span>
                      <span class="glyphicon glyphicon-download-alt"></span>
                      <span class="glyphicon glyphicon-trash"></span>
                    </span>
                </p>
                <p>
                  <span>王警官</span>
                  <span>2017-09-04</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-3 col-xs-offset-1">
            <div class="thumbnail">
              <img src="app/components/list_supervisor/image/jk.jpg">
              <div class="caption">
                <p>监听视频1.mp4
                  <span>
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                  </span>
                </p>
                <p>
                  <span>王警官</span>
                  <span>2017-09-04</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xs-3 col-xs-offset-1">
            <div class="thumbnail">
              <img src="app/components/list_supervisor/image/jk.jpg">
              <div class="caption">
                <p>监听视频1.mp4
                  <span>
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="glyphicon glyphicon-trash"></span>
                  </span>
                </p>
                <p>
                  <span>王警官</span>
                  <span>2017-09-04</span>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
















    <div class="row do_write">
      <p class="title">
        <span>操作记录</span>
        <span class="glyphicon glyphicon-chevron-up"></span>
      </p>
    </div>
    <div class="row do_write_div">
      <div class="row">
        <span>处理时间</span>
        <span>处理人</span>
        <span>岗位</span>
        <span>操作步骤</span>
        <span>其他操作</span>
      </div>
      <div class="row">
        <span>2017-09-01</span>
        <span>黎明</span>
        <span>支队巡查</span>
        <span>提交民警审核</span>
        <span>小李上传了附件</span>
        <p class="question_dec_1">
          <span class="col-1">问题描述:</span>
          <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
        </p>
      </div>
      <div class="row">
        <span>2017-09-01</span>
        <span>黎明</span>
        <span>支队巡查</span>
        <span>提交民警审核</span>
        <span>小李上传了附件</span>
        <p class="question_dec_1">
          <span class="col-1">问题描述:</span>
          <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
        </p>
      </div>
      <div class="row">
        <span>2017-09-01</span>
        <span>黎明</span>
        <span>支队巡查</span>
        <span>提交民警审核</span>
        <span>小李上传了附件</span>
        <p class="question_dec_1">
          <span class="col-1">问题描述:</span>
          <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
        </p>
      </div>
      <div class="row">
        <span>2017-09-01</span>
        <span>黎明</span>
        <span>支队巡查</span>
        <span>提交民警审核</span>
        <span>小李上传了附件</span>
        <p class="question_dec_1">
          <span class="col-1">问题描述:</span>
          <span class="col-10">asdjaskldjaslkdjalksdjasljdlkajdlasjdlajdlasjldjalsjdlasjdlasjdljasldjslkdjsjdlkdj</span>
        </p>
      </div>
    </div>










    <div class="row check">
      <p class="title">
        <span>审核</span>
      </p>
    </div>
    <div class="row check_section">
      <span class="check_section_1">
        <span>督办期限</span>
        <span>
           <input type="text" class="form-control demo-input" id="starttime_law" placeholder="请选择开始时间">
        </span>
      </span>
      <span class="check_section_2">
        <span>监所是否发现</span>
        <span>
            <label><input name="Fruit" type="radio" value="" />是</label>
            <label><input name="Fruit" type="radio" value="" />否</label>
        </span>
        <span >
          警综查询
        </span>
      </span>
      <span class="check_section_3">
        <span>督办内容：</span>
        <span>
            <textarea cols="50" rows="3"></textarea>
        </span>
      </span>
    </div>
    <div class="section_btn">
      <button type="button">提&nbsp;&nbsp;交</button>
      <button type="button">取消督导</button>
    </div>

  </div>



  <div class="col-xs-3">
    <div class="row">
      <p class="title_1">近期同类查看</p>
    </div>
    <div class="section_right_1">
      <div class="row section_right_main">
        <span class="col-xs-6">选择时间</span>
        <span class="col-xs-6">
          <div class="status_dropdown dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span>请选择</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu_1" aria-labelledby="dropdownMenu1">
              <li><a href="#">全部</a></li>
              <li><a href="#">近期6个月</a></li>
              <li><a href="#">近期一年</a></li>
              <li><a href="#">近期两年</a></li>
            </ul>
          </div>
        </span>
      </div>
      <ul class="ul_overflow">
        <li class="row section_right_main_1">
          <span class="section_right_main_ul col-xs-5">督导员名称</span>
          <span class="section_right_main_ul col-xs-6">
            <a href="#">查看详情</a>
          </span>
          <ul class="col-xs-12">
            <li class="row section_right_parent">
              <span class="section_right_children col-xs-4">当前状态</span>
              <span class="section_right_children_2 col-xs-6">完结</span>
            </li>
            <li class="row section_right_parent">
              <span class="section_right_children col-xs-4">完结时间</span>
              <span class="section_right_children_2 col-xs-6">2017-09-03</span>
            </li>
            <li class="row section_right_parent">
              <span class="do_content section_right_children col-xs-4">督办内容</span>
              <div class="section_right_children_2 col-xs-6">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </div>
            </li>
          </ul>
        </li>
        <li class="row section_right_main_1">
          <span class="section_right_main_ul col-xs-5">督导员名称</span>
          <span class="section_right_main_ul col-xs-6">
            <a href="#">查看详情</a>
          </span>
          <ul class="col-xs-12">
            <li class="row section_right_parent">
              <span class="section_right_children col-xs-4">当前状态</span>
              <span class="section_right_children_2 col-xs-6">完结</span>
            </li>
            <li class="row section_right_parent">
              <span class="section_right_children col-xs-4">完结时间</span>
              <span class="section_right_children_2 col-xs-6">2017-09-03</span>
            </li>
            <li class="row section_right_parent">
              <span class="do_content section_right_children col-xs-4">督办内容</span>
              <div class="section_right_children_2 col-xs-6">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </div>
            </li>
          </ul>
        </li>
        <li class="row section_right_main_3 section_right_main_1">
          <span class="section_right_main_ul col-xs-5">督导员名称</span>
          <span class="section_right_main_ul col-xs-6">
            <a href="#">查看详情</a>
          </span>
          <ul class="col-xs-12">
            <li class="row section_right_parent">
              <span class="section_right_children col-xs-4">当前状态</span>
              <span class="section_right_children_2 col-xs-6">完结</span>
            </li>
            <li class="row section_right_parent">
              <span class="section_right_children col-xs-4">完结时间</span>
              <span class="section_right_children_2 col-xs-6">2017-09-03</span>
            </li>
            <li class="row section_right_parent">
              <span class="do_content section_right_children col-xs-4">督办内容</span>
              <div class="section_right_children_2 col-xs-6">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


<script src="app/components/basic_info/js/basic_info.js"></script>
