<link rel="stylesheet" href="app/components/equipment/equipment.css"/>



<div id="base_analys" class="row">
  <div class="col-sm-4" id="left">
    <div>
      <p class="p-dw">监所设备设施风险分析</p>
      <div style="width:100%;height: 100%" id="left-t"></div>
    </div>
    <div>
      <div class="left-bot-dw">
        <div>
          <p><span style="background: url(app/img/11_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color:#03FFFF;">44</p>
          <div><div style="background-color:#03FFFF;"></div></div>
          <p>监视设施</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color:#9966FF;">44</p>
          <div><div style="background-color:#9966FF;"></div></div>
          <p>无线定位</p>
        </div>
        <div>
          <p><span style="background: url(app/img/11_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color:#0099FF;">44</p>
          <div><div style="background-color: #0099FF"></div></div>
          <p>周界防护</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color: #DEA874">44</p>
          <div><div style="background-color: #DEA874"></div></div>
          <p>AB门设施</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color: #FF6634">44</p>
          <div><div style="background-color: #FF6634;"></div></div>
          <p>紧急报警</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color: #FF66FF">44</p>
          <div><div style="background-color: #FF66FF"></div></div>
          <p>监区门禁</p>
        </div>
        <div>
          <p><span style="background: url(app/img/12_03.png);display: inline-block;width: 6px;height: 17px;"></span>8%</p>
          <p style="color: #FFFF33">44</p>
          <div><div style="background-color: #FFFF33"></div></div>
          <p>周界报警</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8" id="right">
    <div>
      <div class="right-tg">
        <div class="activd_1">日</div>
        <div>周</div>
        <div>月</div>
      </div>
      <p class="right-tl">监所风险趋势</p>
      <div style="width:100%;height: 100%" id="right-t"></div>
    </div>
    <div>
      <p class="right-tls">监所风险扣分详情</p>
      <table id="tabs" class="table">
        <tr>
          <td>扣分时间</td>
          <td>扣分值</td>
          <td>具体数据</td>
          <td>指标区间</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
        <tr>
          <td>2016-10-17</td>
          <td>内容01</td>
          <td>王小二</td>
          <td>结果01</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<script src="app/components/equipment/equipment.js"></script>
