<link rel="stylesheet" href="app/components/base_analys/base_analys.css"/>



<div id="base_analys" class="row">
  <div class="col-sm-4" id="left">
    <div>
      <p class="p-dw">监所基础风险分析</p>
      <div style="width:100%;height: 100%" id="left-t"></div>
    </div>
    <div>
      <div class="left-bot-dw">
        <div id="left-bot-dw_1">
          <p><span style="display: inline-block;width: 6px;height: 17px;background: url('app/img/12_03.png')"></span>8%</p>
          <p style="color: #2DC8C9">44</p>
          <div><div style="background-color: #2DC8C9"></div></div>
          <p>监所押量</p>
        </div>
        <div id="left-bot-dw_2">
          <p><span style="display: inline-block;width: 6px;height: 17px;background: url('app/img/12_03.png')"></span>8%</p>
          <p style="color: #B6A2DF">52</p>
          <div><div style="background-color: #B6A2DF"></div></div>
          <p>违规督导单</p>
        </div>
        <div id="left-bot-dw_3">
          <p><span style="display: inline-block;width: 6px;height: 17px;background: url('app/img/12_03.png')"></span>8%</p>
          <p style="color: #5AB1F0">72</p>
          <div><div style="background-color: #5AB1F0"></div></div>
          <p>警力配比</p>
        </div>
        <div id="left-bot-dw_4">
          <p><span style="display: inline-block;width: 6px;height: 17px;background: url('app/img/12_03.png')"></span>8%</p>
          <p style="color: #DEA874">72</p>
          <div><div style="background-color: #DEA874"></div></div>
          <p>重大风险人员数量</p>
        </div>
        <div id="left-bot-dw_5">
          <p><span style="display: inline-block;width: 6px;height: 17px;background: url('app/img/12_03.png')"></span>8%</p>
          <p style="color: #9FD82E">72</p>
          <div><div style="background-color: #9FD82E"></div></div>
          <p>现场检查</p>
        </div>
        <div id="left-bot-dw_6">
          <p><span style="display: inline-block;width: 6px;height: 17px;background: url('app/img/12_03.png')"></span>8%</p>
          <p style="color: yellow">72</p>
          <div><div style="background-color: yellow"></div></div>
          <p>交班会点评意见</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8" id="right">
    <div>
      <div class="right-tg">
        <div class="activd_1">日</div>
        <div>周</div>
        <div>月</div>
      </div>
      <p class="right-tl">监所风险趋势</p>
      <div style="width:100%;height: 100%" id="right-t"></div>
    </div>
    <div>
      <p class="right-tls">监所风险扣分详情</p>
      <table id="tabs" class="table">
          <tr>
            <td>扣分时间</td>
            <td>风险项</td>
            <td>扣分值</td>
            <td>具体数据</td>
            <td>指标区间</td>
          </tr>
          <tr>
            <td>2016-10-17</td>
            <td>监所押量</td>
            <td>5</td>
            <td>1010人</td>
            <td>1000人以上</td>
          </tr>
          <tr>
            <td>2016-10-17</td>
            <td>违规督导单</td>
            <td>2</td>
            <td>10件</td>
            <td>8-12件</td>
          </tr>
          <tr>
            <td>2016-10-17</td>
            <td>警力配比</td>
            <td>2</td>
            <td>11%</td>
            <td>8%-12%</td>
          </tr>
          <tr>
            <td>2016-10-17</td>
            <td> 重大风险人员数量</td>
            <td>1</td>
            <td>12人</td>
            <td>10-20人</td>
          </tr>
      </table>
    </div>
  </div>
</div>

<script src="app/components/base_analys/base_analys.js"></script>
