<link rel="stylesheet" href="app/components/crimal_dorm/crimal_dorm.css">
<div class="crimal_dorm_wrap">
  <div class="col-sm-5 crimal_dorm_video_wrap">
    <p class="p-dw">监室详情</p>
    <div class="crimal_dorm_video">

    </div>
    <div class="tab">
      <div class="tab_conten">
        监室201
      </div>
      <div class="tab_conten">
        监室202
      </div>
      <div class="tab_conten">
        监室203
      </div>
    </div>
    <div class="place_man">
      <div class="col-sm-6 place_man_img_wrap">
        <div class="col-sm-6">
          <div class="place_photo">
            <img src="app/img/p1.png" alt="">
          </div>
          <div class="title">
            <span>主管</span>
            <span class="name">李鹏鹏</span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="place_photo">
            <img src="app/img/p2.png" alt="">
          </div>
          <div class="title">
            <span>协管</span>
            <span class="name">高师师</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6" style="padding: 0;">
        <div id="crimal_dangerous"></div>
        <div class="crimal_info_form_l">
          <div class="title col-sm-5">监室类型</div>
          <div class="content col-sm-6">普通监室</div>
        </div>
        <div class="crimal_info_form_l">
          <div class="title col-sm-5">关押人数</div>
          <div class="content col-sm-6">13人</div>
        </div>
        <div class="crimal_info_form_l">
          <div class="title col-sm-5">重大风险</div>
          <div class="content col-sm-6">3人</div>
        </div>
        <div class="crimal_info_form_l">
          <div class="title col-sm-5">监室温度</div>
          <div class="content col-sm-6">25℃</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 crimal_dorm_list">
    <div class="tab">
      <div class="tab_conten">
        固定信息
      </div>
      <div class="tab_conten">
        重大风险
      </div>
      <div class="tab_conten">
        三日内违规
      </div>
      <div class="tab_conten">
        警情提醒
      </div>
      <div class="tab_conten">
        人员变动
      </div>
    </div>
    <div class="crimal_card_list">
      <div class="row" style="margin: 0px 40px">
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0px 40px">
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0px 40px">
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0px 40px">
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
        <div class="card_wrap col-sm-3">
          <div class="card_border">
            <img src="app/img/p3.png" alt="">
            <div class="levle">二级</div>
            <p>姓名：李鹏鹏</p>
            <p>年龄：25</p>
            <p>罪行：打架斗殴</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="app/components/crimal_dorm/crimal_dorm.js"></script>

